div.root {
  text-align: center;
}

div.line {
  display: inline-flex;
}

div.check {
  width: 20pt;
  height: 20pt;
  border-radius: 10pt;
  background-color: gray;
  color: white;
  font: bold 17pt sans-serif;
  cursor: pointer;
  vert-align: middle;
  vertical-align: center;
  user-select: none;
}

div.hint {
  padding: 5pt;
  background-color: lemonchiffon;
  margin-top: 5pt;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border: black solid 0.5pt;
  user-select: none;
}

span.correct {
  color: limegreen;
}

span.wrong {
  color: red;
}

label {
  padding-left: 10px;
  padding-right: 10px;
}